body{
    background-color: rgb(73, 0, 28);
    color: rgb(255, 255, 255);
    user-select: none;
}
tr, td, table{
    border: 2px rgb(73, 73, 73) solid;
}
table{
    width: 100%;
}

#clickarea{
    position: relative;
    float: left;
    width: 69%;
    height: 100vh;
    top: 0px;
    left: 0px;
}
#buymenu{
    background-color: rgb(39, 0, 14);
    position: relative;
    float: right;
    width: 29%;
    height: 100vh;
    top: -0.6vw;
    right: -0.6vw;
    margin: 0px;
    padding: 0.5vw;
    border-left: 5px solid black;
}
#click{
    height: 20vw;
    width: 20vw;
    position: relative;
    float: right;
    right: 20%;
    transition: scale, 0.25s;
    transition-timing-function: cubic-bezier(0.01, 1.11, 0.59, 0.98);
}
#panel{
    float: left;
    position: relative;
    top: 7%;
    left: 5%;
    background-color: rgba(245, 98, 0, 0.685);
    border-radius: 10px;
    border: 3px double red;
    padding: 1vw;
    color: black;
    font-size: 1.5vw;
}
#filmy{
    background-color: rgba(0, 0, 0, 0.932);
    color: white;
    padding: 0.3vw;
    font-size: 2vw; 
}
#click:active{
    transform: scale(0.9);
}
#shoptitle{
    text-align: center;
    position: relative;
    top: 1%;
}
.shopitem{
    position: relative;
    border: 2px solid white;
    font-size: 20px;
}
#title{
    text-align: center;
}

.numbers{
    font-size: 30px;
}
.shopitemname{
    float: right;
    top: 0px;
    right: 0px;
    margin: 0px;
    width: 20%;
    height: 100%;
    background-color: rgb(56, 0, 0);
}
.fltrt{
    float: left;
    background-color: cyan;
}