#gracz, #dealer{
    float: left;
    background-color: #35654d;
    border: 5px solid black;
    padding:20px;
    margin: 50px;
    width:300px;
    height:300px;
}
body{
    background-image: url("../img/carpet.png");
    z-index:-10;
    background-size:40%;
}
#amount{
    text-shadow: 1px 1px 1px white;
    color: whitesmoke;
}
.napis{
    color:white;
    font-weight: bold;
    font-size: 20px;
    float: left;
}
.suma{
    float:right;
    color: yellow;
    font-weight: bold;
    font-size: 20px;
    width: 30%;
}
#przyciski{
    float:left;
}
#graczkarty, #graczkarty2, #dealerkarty{
    color: rgb(255, 245, 158);
    margin:15px;
    padding:10px;
    position: relative;
    top: 10px;
    font-size: 16px;
    line-height: 30px;
    height:71%;
}
#graczkarty, #graczkarty2{
    width:33%;
    float:left;
}
#dealerkarty{
    margin-top:0;
    padding-top:0;
    
}
#dealerpierwszakarta{
    user-select: none;
    color: black;
    background-color: black;
    margin:15px;
    padding:10px;
    position: relative;
    top: 10px;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 0;
    padding-bottom: 0;
    width:40%;
}
.splashscreen{
    border: 7px groove rgb(109, 0, 0);
    background-color: #234233;
    position: absolute;
    color: rgb(209, 0, 0);
    text-shadow: 2px 2px 0px #000000;
    padding: 20px;
    text-align: center;
    left: 343px;
    top: 160px;
    z-index: 10;
    display: none;
}
#wygrales{
    color: rgb(219, 179, 0);
    text-shadow: 2px 2px 0px #ffffff;
    border: 7px groove rgb(148, 113, 0);
}
#remis{
    color: rgb(110, 110, 110);
    text-shadow: 2px 2px 0px #000000;
    border: 7px groove rgb(255, 255, 255);
}
#tasowanie{
    color: rgb(252, 252, 252);
    text-shadow: 2px 2px 0px #000000;
    border: 7px groove rgb(37, 116, 0);
}
#gracz, #dealer{
    background-image: url("../img/table.jpg");
}



