*{
    margin:0;
    padding:0;
}

body{
    overflow: hidden;
    background-color:rgb(61, 0, 61);
}

#game{
    border-style: solid;
    border-width: 10px;
    border-color: yellow;
    float:left;
    width:820px;
}
#text{
    float:right;
    border-style: double;
    border-width: 10px;
    border-color: purple;
    background-color: rgb(134, 32, 13);
    font-size: 20px;
    height: 605px;
    width:526px;
}
#textheader{
    text-align: center;
    font-size:50px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
#bubblecontainer{
    text-align: left;
    font-size: 25px;
    color:rgb(231, 225, 255);
}
.bubble{
    padding: 10px;
}
#statusbar{
    border-color: green;
    border-style: ridge;
    border-width:10px;
    float: left;
    width: 800px;
    height: 90px;
    background-color: rgb(0, 107, 102);
}
#healthbar{
    padding:5px;
    text-align: center;
    height:15px;
    float:left;
    font-weight: bold;
}
#healthbarbar{
    position:relative;
    top:5px;
    color: red;
}
#objectivelist{
    border-bottom: 2px dashed black;
}
.objective{
    font-weight: bold;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
    color: rgb(0, 0, 0);
    text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255);
}
#wellchoice{
    position: absolute;
    left:550px;
    top:550px;
    visibility: hidden;
}
#wellbtn{
    text-align:center;
}